<!doctype html>
<html>
<head>
    <title>ILib</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="font-awesome.min.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-user"></span> My Profile</h1>
        <a href="/library" class="btn btn-default btn-sm">My Library</a>
        <a href="/addBook" class="btn btn-default btn-sm">Add a Book</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="profilePic"><label for="profile_pic">Choose a profile picture:</label>
                  <input type="file" id="profile_pic" name="profile_pic" accept=".jpg, .jpeg, .png">
                </h3>

                <!-- this would be cool to continue doing so it works not sure how to approach images in Mongoose just yet -->

                <% if (user.local.email) { %>
                    <p>
                        <p><strong class="item">id</strong>: <%= user._id %><br></p>
                        <p><strong class="item">email</strong>: <%= user.local.email %><br></p>
                        <p><strong class="item">password</strong>: <%= user.local.password %></p>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
              <h3 class="headingThree"> Books I Want to Read:</h3>
              <p>Add a books title and author to keep track of those you'd like to purchase or read in the future! </p>
              <% if (user.local.email) { %>
                <form action="/track" method="POST">
                  <p>Current Date is <input id="date" type="date" name ="date">.</p>
                  <label class="message" for="message">Book Title:</label>
                  <input class="msgs" type="text" placeholder="Enter title" name="msg">
                  <label class="message" for="message">Author:</label>
                  <input class="msgs" type="text" placeholder="Enter author" name="author">
                  <label class="message" for="message">What sparked my interest:</label>
                  <input class="msgs" type="text" placeholder="Enter author" name="interest">
                  <button class="add" type="submit">Submit</button>
              </form>
          </div>
        </div>
      <div class="col-sm-6" id="second">
        <h3 class="booksI">Books I'm Interested In</h3>

        <!-- will add potentail ability to check off and move to "bought" section if purchesed or read -->

        <!-- I had to re-do my entire html I used a different template when we were asked a few weeks ago but there was way too much going on -->
        
        <ul class="messages">
          <% for(var i=0; i<purchase.length; i++) {%>
            <li class="message">
              <span><%= purchase[i].date %></span>
              <span>Book Title: <%= purchase[i].msg %></span>
              <span>Author: <%= purchase[i].author %></span>
              <span>Sparked Interest: <%= purchase[i].interest %></span>
            </li>
          <% } %>
        </ul>

      </div>
      <% } %>
  </div>


</div>

<script src="main.js"></script>

</body>
</html>